{% extends "layout.njk" %}
{% block  content %}
    <h1>Flödde</h1>
    {% for row in rows %}
        <div class="data-samling">
            <div>
                <div>
                    <div class="data-containter">
                        <div>
                            <h2>{{ row.title }}</h2>
                        </div>
                        <div>
                            <p>{{ row.createdAt }}</p>
                        </div>
                    </div>
                    <div class="data-text">
                    {{ row.content }}
                    </div>
                </div>
                <div class="data-containter">
                    {{ row.authorId}}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}